<div class="top-bar">angular-jointjs-graph demo application</div>
<div class="graph-main" ng-app="app" ng-controller="GraphResourcesController">
  <graph>
    <graph-side-panel-tools>
      <graph-new-entity entity-identifier="beneficiary">
        <i class="ce-icon-user"></i>Beneficiary
      </graph-new-entity>
      <graph-new-entity entity-identifier="company">
        <i class="ce-icon-folder"></i>Company
      </graph-new-entity>
      <graph-existing-entities entity-identifier="beneficiary">
        <div ng-click="selectEntity(entity, entityIdentifier)">
          <i class="ce-icon-user"></i>
          <span class="text">{{ entity.name || "&lt;name&gt;"}}</span>
        </div>
      </graph-existing-entities>
      <graph-existing-entities entity-identifier="company">
        <div ng-click="selectEntity(entity, entityIdentifier)">
          <i class="ce-icon-folder"></i>
          <span class="text">{{ entity.name || "&lt;name&gt;"}}</span>
        </div>
      </graph-existing-entities>
    </graph-side-panel-tools>
    <graph-side-panel-details>
    </graph-side-panel-details>
  </graph>
</div>
