* > {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.top-bar {
  background-color: #3098d8;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

.graph-main {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}

.element.html {
  .icon {
    opacity: 1;
    transition: all linear 0.1s;
    fill: #E5EAEF;
    font-size: 14px;
    font-family: ce-icons;
  }

  &.highlighted .icon {
     fill: #66AC3F;
   }

  &.highlighted.nolink .icon {
     fill: #C4434B;
   }

  &.selected .icon {
     fill: #EFBE2C;
   }

  &:hover {
  .icon {
    opacity: 0;
    transition: all linear 0.1s;
  }
  }

  .country {
    font-size: 10px;
    fill: #373737;
  }

  .name {
    font-size: 14px;
    fill: #373737;
  }

  .remove-element {
    opacity: 0;
    transition: all linear 0.1s;
    cursor: pointer;

    .cross {
      stroke: black;
      stroke-width: 2;
      stroke-linecap: round;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    .remove-element {
      opacity: 1;
      transition: all linear 0.1s;
    }
  }

  .connection-port {
    cursor: crosshair;
  }

  .connection-port circle.outer {
    stroke-width: 2;
    stroke: black;
    fill: white;
  }

  .connection-port circle.inner {
    fill: black;
  }
}
