@font-face {
	font-family: 'ce-icons';
	src: url('../fonts/ce-icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="ce-icon-"], [class*=" ce-icon-"] {
	font-family: 'ce-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ce-icon-tgg-logo-horizontal:before {
	content: "\e604";
}
.ce-icon-logo:before {
	content: "\e600";
}
.ce-icon-phone:before {
	content: "\e602";
}
.ce-icon-mobile:before {
	content: "\e603";
}
.ce-icon-directions:before {
	content: "\e605";
}
.ce-icon-mail:before {
	content: "\e606";
}
.ce-icon-paperplane:before {
	content: "\e607";
}
.ce-icon-pencil:before {
	content: "\e608";
}
.ce-icon-feather:before {
	content: "\e609";
}
.ce-icon-paperclip:before {
	content: "\e60a";
}
.ce-icon-drawer:before {
	content: "\e60b";
}
.ce-icon-reply:before {
	content: "\e60c";
}
.ce-icon-reply-all:before {
	content: "\e60d";
}
.ce-icon-forward:before {
	content: "\e60e";
}
.ce-icon-user:before {
	content: "\e60f";
}
.ce-icon-users:before {
	content: "\e610";
}
.ce-icon-user-add:before {
	content: "\e611";
}
.ce-icon-vcard:before {
	content: "\e612";
}
.ce-icon-export:before {
	content: "\e613";
}
.ce-icon-location:before {
	content: "\e614";
}
.ce-icon-map:before {
	content: "\e615";
}
.ce-icon-target:before {
	content: "\e618";
}
.ce-icon-sharable:before {
	content: "\e61a";
}
.ce-icon-chat:before {
	content: "\e621";
}
.ce-icon-comment:before {
	content: "\e622";
}
.ce-icon-house:before {
	content: "\e624";
}
.ce-icon-popup:before {
	content: "\e625";
}
.ce-icon-search:before {
	content: "\e626";
}
.ce-icon-printer:before {
	content: "\e628";
}
.ce-icon-link:before {
	content: "\e62a";
}
.ce-icon-flag:before {
	content: "\e62b";
}
.ce-icon-cog:before {
	content: "\e62c";
}
.ce-icon-book:before {
	content: "\e639";
}
.ce-icon-lifebuoy:before {
	content: "\e63d";
}
.ce-icon-eye:before {
	content: "\e63e";
}
.ce-icon-clock:before {
	content: "\e63f";
}
.ce-icon-calendar:before {
	content: "\e641";
}
.ce-icon-briefcase:before {
	content: "\e646";
}
.ce-icon-hourglass:before {
	content: "\e648";
}
.ce-icon-gauge:before {
	content: "\e649";
}
.ce-icon-key2:before {
	content: "\e601";
}
.ce-icon-drive:before {
	content: "\e64f";
}
.ce-icon-cup:before {
	content: "\e650";
}
.ce-icon-suitcase:before {
	content: "\e653";
}
.ce-icon-browser:before {
	content: "\e657";
}
.ce-icon-publish:before {
	content: "\e658";
}
.ce-icon-progress-3:before {
	content: "\e659";
}
.ce-icon-progress-2:before {
	content: "\e65a";
}
.ce-icon-brogress-1:before {
	content: "\e65b";
}
.ce-icon-progress-0:before {
	content: "\e65c";
}
.ce-icon-database:before {
	content: "\e665";
}
.ce-icon-clipboard:before {
	content: "\e667";
}
.ce-icon-box:before {
	content: "\e669";
}
.ce-icon-pie:before {
	content: "\e671";
}
.ce-icon-bars:before {
	content: "\e672";
}
.ce-icon-lock:before {
	content: "\e674";
}
.ce-icon-lock-open:before {
	content: "\e675";
}
.ce-icon-logout:before {
	content: "\e676";
}
.ce-icon-login:before {
	content: "\e677";
}
.ce-icon-checkmark:before {
	content: "\e678";
}
.ce-icon-cross:before {
	content: "\e679";
}
.ce-icon-minus:before {
	content: "\e67a";
}
.ce-icon-plus:before {
	content: "\e67b";
}
.ce-icon-cross2:before {
	content: "\e67c";
}
.ce-icon-minus2:before {
	content: "\e67d";
}
.ce-icon-plus2:before {
	content: "\e67e";
}
.ce-icon-cross3:before {
	content: "\e67f";
}
.ce-icon-minus3:before {
	content: "\e680";
}
.ce-icon-plus3:before {
	content: "\e681";
}
.ce-icon-erase:before {
	content: "\e682";
}
.ce-icon-blocked:before {
	content: "\e683";
}
.ce-icon-info:before {
	content: "\e684";
}
.ce-icon-info2:before {
	content: "\e685";
}
.ce-icon-question:before {
	content: "\e686";
}
.ce-icon-help:before {
	content: "\e687";
}
.ce-icon-warning:before {
	content: "\e688";
}
.ce-icon-cycle:before {
	content: "\e689";
}
.ce-icon-cw:before {
	content: "\e68a";
}
.ce-icon-ccw:before {
	content: "\e68b";
}
.ce-icon-history:before {
	content: "\e691";
}
.ce-icon-switch:before {
	content: "\e693";
}
.ce-icon-list:before {
	content: "\e694";
}
.ce-icon-add-to-list:before {
	content: "\e695";
}
.ce-icon-layout:before {
	content: "\e696";
}
.ce-icon-folder:before {
	content: "\e6a0";
}
.ce-icon-archive:before {
	content: "\e6a1";
}
.ce-icon-trash:before {
	content: "\e6a2";
}
.ce-icon-upload:before {
	content: "\e6a3";
}
.ce-icon-download:before {
	content: "\e6a4";
}
.ce-icon-disk:before {
	content: "\e6a5";
}
.ce-icon-install:before {
	content: "\e6a6";
}
.ce-icon-bookmark:before {
	content: "\e6a9";
}
.ce-icon-bookmarks:before {
	content: "\e6aa";
}
.ce-icon-flow-tree:before {
	content: "\e6bb";
}
.ce-icon-arrow-left:before {
	content: "\e6be";
}
.ce-icon-arrow-down:before {
	content: "\e6bf";
}
.ce-icon-arrow-up-upload:before {
	content: "\e6c0";
}
.ce-icon-arrow-right:before {
	content: "\e6c1";
}
.ce-icon-arrow-left2:before {
	content: "\e6c2";
}
.ce-icon-arrow-down2:before {
	content: "\e6c3";
}
.ce-icon-arrow-up:before {
	content: "\e6c4";
}
.ce-icon-arrow-right2:before {
	content: "\e6c5";
}
.ce-icon-arrow-left3:before {
	content: "\e6c6";
}
.ce-icon-arrow-down3:before {
	content: "\e6c7";
}
.ce-icon-arrow-up2:before {
	content: "\e6c8";
}
.ce-icon-arrow-right3:before {
	content: "\e6c9";
}
.ce-icon-arrow-left4:before {
	content: "\e6ca";
}
.ce-icon-arrow-down4:before {
	content: "\e6cb";
}
.ce-icon-arrow-up3:before {
	content: "\e6cc";
}
.ce-icon-arrow-right4:before {
	content: "\e6cd";
}
.ce-icon-arrow-left5:before {
	content: "\e6ce";
}
.ce-icon-arrow-down5:before {
	content: "\e6cf";
}
.ce-icon-arrow-up4:before {
	content: "\e6d0";
}
.ce-icon-arrow-right5:before {
	content: "\e6d1";
}
.ce-icon-arrow-left6:before {
	content: "\e6d2";
}
.ce-icon-arrow-down6:before {
	content: "\e6d3";
}
.ce-icon-arrow-up5:before {
	content: "\e6d4";
}
.ce-icon-arrow-right6:before {
	content: "\e6d5";
}
.ce-icon-arrow-left7:before {
	content: "\e6d6";
}
.ce-icon-arrow-down7:before {
	content: "\e6d7";
}
.ce-icon-arrow-up6:before {
	content: "\e6d8";
}
.ce-icon-uniE6D9:before {
	content: "\e6d9";
}
.ce-icon-arrow-left8:before {
	content: "\e6da";
}
.ce-icon-arrow-down8:before {
	content: "\e6db";
}
.ce-icon-arrow-up7:before {
	content: "\e6dc";
}
.ce-icon-arrow-right7:before {
	content: "\e6dd";
}
.ce-icon-menu:before {
	content: "\e6de";
}
.ce-icon-ellipsis:before {
	content: "\e6df";
}
.ce-icon-dots:before {
	content: "\e6e0";
}
.ce-icon-dot:before {
	content: "\e6e1";
}
.ce-icon-skype:before {
	content: "\e711";
}
.ce-icon-skype2:before {
	content: "\e712";
}
.ce-icon-envelope-o:before {
	content: "\f003";
}
.ce-icon-check:before {
	content: "\f00c";
}
.ce-icon-times:before {
	content: "\f00d";
}
.ce-icon-gear:before {
	content: "\f013";
}
.ce-icon-trash-o:before {
	content: "\f014";
}
.ce-icon-home:before {
	content: "\f015";
}
.ce-icon-clock-o:before {
	content: "\f017";
}
.ce-icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.ce-icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.ce-icon-rotate-right:before {
	content: "\f01e";
}
.ce-icon-refresh:before {
	content: "\f021";
}
.ce-icon-list-alt:before {
	content: "\f022";
}
.ce-icon-flag2:before {
	content: "\f024";
}
.ce-icon-pencil2:before {
	content: "\f040";
}
.ce-icon-map-marker:before {
	content: "\f041";
}
.ce-icon-edit:before {
	content: "\f044";
}
.ce-icon-share-square-o:before {
	content: "\f045";
}
.ce-icon-check-square-o:before {
	content: "\f046";
}
.ce-icon-plus-circle:before {
	content: "\f055";
}
.ce-icon-minus-circle:before {
	content: "\f056";
}
.ce-icon-times-circle:before {
	content: "\f057";
}
.ce-icon-check-circle:before {
	content: "\f058";
}
.ce-icon-question-circle:before {
	content: "\f059";
}
.ce-icon-info-circle:before {
	content: "\f05a";
}
.ce-icon-crosshairs:before {
	content: "\f05b";
}
.ce-icon-times-circle-o:before {
	content: "\f05c";
}
.ce-icon-check-circle-o:before {
	content: "\f05d";
}
.ce-icon-ban:before {
	content: "\f05e";
}
.ce-icon-mail-forward:before {
	content: "\f064";
}
.ce-icon-plus4:before {
	content: "\f067";
}
.ce-icon-minus4:before {
	content: "\f068";
}
.ce-icon-comment2:before {
	content: "\f075";
}
.ce-icon-chevron-up:before {
	content: "\f077";
}
.ce-icon-chevron-down:before {
	content: "\f078";
}
.ce-icon-comments:before {
	content: "\f086";
}
.ce-icon-sign-out:before {
	content: "\f08b";
}
.ce-icon-external-link:before {
	content: "\f08e";
}
.ce-icon-sign-in:before {
	content: "\f090";
}
.ce-icon-upload3:before {
	content: "\f093";
}
.ce-icon-phone2:before {
	content: "\f095";
}
.ce-icon-square-o:before {
	content: "\f096";
}
.ce-icon-phone-square:before {
	content: "\f098";
}
.ce-icon-tasks:before {
	content: "\f0ae";
}
.ce-icon-briefcase2:before {
	content: "\f0b1";
}
.ce-icon-paperclip2:before {
	content: "\f0c6";
}
.ce-icon-square:before {
	content: "\f0c8";
}
.ce-icon-caret-down:before {
	content: "\f0d7";
}
.ce-icon-caret-up:before {
	content: "\f0d8";
}
.ce-icon-caret-left:before {
	content: "\f0d9";
}
.ce-icon-caret-right:before {
	content: "\f0da";
}
.ce-icon-columns:before {
	content: "\f0db";
}
.ce-icon-envelope:before {
	content: "\f0e0";
}
.ce-icon-comment-o:before {
	content: "\f0e5";
}
.ce-icon-comments-o:before {
	content: "\f0e6";
}
.ce-icon-sitemap:before {
	content: "\f0e8";
}
.ce-icon-paste:before {
	content: "\f0ea";
}
.ce-icon-lightbulb-o:before {
	content: "\f0eb";
}
.ce-icon-exchange:before {
	content: "\f0ec";
}
.ce-icon-suitcase2:before {
	content: "\f0f2";
}
.ce-icon-file-text-o:before {
	content: "\f0f6";
}
.ce-icon-angle-double-left:before {
	content: "\f100";
}
.ce-icon-angle-double-right:before {
	content: "\f101";
}
.ce-icon-angle-double-up:before {
	content: "\f102";
}
.ce-icon-angle-double-down:before {
	content: "\f103";
}
.ce-icon-angle-left:before {
	content: "\f104";
}
.ce-icon-angle-right:before {
	content: "\f105";
}
.ce-icon-angle-up:before {
	content: "\f106";
}
.ce-icon-angle-down:before {
	content: "\f107";
}
.ce-icon-circle-o:before {
	content: "\f10c";
}
.ce-icon-spinner:before {
	content: "\f110";
}
.ce-icon-circle:before {
	content: "\f111";
}
.ce-icon-mail-reply:before {
	content: "\f112";
}
.ce-icon-reply-all2:before {
	content: "\f122";
}
.ce-icon-bullseye:before {
	content: "\f140";
}
.ce-icon-minus-square:before {
	content: "\f146";
}
.ce-icon-minus-square-o:before {
	content: "\f147";
}
.ce-icon-level-up:before {
	content: "\f148";
}
.ce-icon-level-down:before {
	content: "\f149";
}
.ce-icon-check-square:before {
	content: "\f14a";
}
.ce-icon-pencil-square:before {
	content: "\f14b";
}
.ce-icon-external-link-square:before {
	content: "\f14c";
}
.ce-icon-share-square:before {
	content: "\f14d";
}
.ce-icon-file:before {
	content: "\f15b";
}
.ce-icon-file-text:before {
	content: "\f15c";
}
